@media (max-width: 623px) {
  #links {
    display: flex;
    flex-wrap: nowrap;
  }
}
@media (max-width: 600px) {
  #links {
    display: none;
  }
  #page1 {
    width: 100%;
    padding: 0 3vw;
    padding-top: 35vh;
    min-height: 70vh;
    position: relative;
  }

  #page1 h1 {
    font-size: 15vw;
    letter-spacing: -5px;
  }
  #video-container img {
    height: 80vh;
    width: 250vw;
    margin-bottom: 3vw;
    object-fit: contain;
  }
  #video-container #buy {
    padding: 3.5vw 2.8vw;
    scale: 1;
    opacity: 1;
    text-transform: uppercase;
    position: absolute;
    top: 52%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
  #page2 {
    flex-direction: column;
    padding: 5vw 3vw;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    margin-bottom: 3vw;
  }
  #page3 {
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #page3 .child {
    height: 54vh;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child img {
    height: 100%;
  }
}
@media (max-width: 362px) {
  #video-container img {
    height: 95vh;
    width: 95vw;
  }
}
